<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- При необходимости укажите свой экземпляр SQL Server, например .\SQLEXPRESS -->
        <add key="SqlInstance" value="(localdb)\MSSQLLocalDB" />
        <add key="DatabaseName" value="DBTurfirma" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
